@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #5ea9ff;
    border-radius: 25px;
}


/* BANNER DE LA PAGINA*/

header {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

header div.portada {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 600px;
    filter: saturate(150%);
}

header div img.portada {
    width: 100%;
    min-height: 600px;
    height: auto;
    filter: blur(3px);
    opacity: 0.4;
    transform: scale(1.05);
}

@media only screen and (max-width: 579px) {
    header div.portada {
        height: 550px;
    }
    header div img.portada {
        min-height: 550px;
    }
}

@media only screen and (max-width: 379px) {
    header div.portada {
        height: 500px;
    }
    header div img.portada {
        min-height: 510px;
    }
}


/* MENU DE NAVEGACION*/

header nav {
    position: fixed;
    z-index: 100;
    right: 0px;
    width: 100%;
    top: 0px;
    background-color: #3B93F7;
    height: 50px;
    box-shadow: black 0px 1px 5px;
}

header nav ul {
    list-style: none;
    text-align: left;
    height: 50%;
    padding-left: 20px;
}

header nav ul a li {
    line-height: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

header nav a.marca {
    font-size: 30px;
    text-decoration: none;
    top: 0;
    right: 0;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-shadow: black 1px 1px 1px;
    background-color: #2a2a2a;
    padding: 0px 20px;
    position: absolute;
    transition: .5s;
}

header nav a.marca:hover {
    background-color: #5ea9ff;
    color: white;
}

@media only screen and (min-width: 825px) {
    header nav a#menu-navegacion {
        display: none;
    }
    header nav ul#lista-menu {
        display: block;
    }
}

@media only screen and (max-width: 824px) {
    header nav a#menu-navegacion {
        font-size: 30px;
        color: white;
        line-height: 50px;
        width: 100%;
        margin: 20px;
    }
    header nav ul {
        padding: 0;
        display: none;
        height: 200px;
        text-align: center;
    }
    header nav ul a li.menu {
        display: block;
        background-color: #2e2e2ebd;
        margin: 0;
    }
    header nav ul a li.menu:hover {
        background-color: #5faaffbd;
    }
    header nav ul#lista-menu a {
        margin: 0px;
        height: 50px;
        width: 100%;
        padding: 0;
    }
}

header nav ul a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-shadow: rgb(37, 37, 37) 1px 1px 1px;
    margin: 0px 10px;
    border-radius: 2px;
}

header nav ul a:hover {
    background-color: #2e2e2e;
    transition: .5s;
}


/*MI PRESENTACION*/

header section.presentacion {
    width: 100%;
    height: 600px;
}

header section div.presentacion {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

header section div img {
    box-shadow: #3B93F7 2px 2px 2px;
    border: solid 1px;
    width: auto;
    height: 350px;
    border-radius: 25px;
}

header section div div.presentacion-texto {
    margin-top: 10px;
}

header section div h1.nombre,
header section h2.hobby,
#apodo,
#nombre-completo {
    font-size: 45px;
    background: -webkit-linear-gradient(#5ea9ff, #2a37c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.253) 1px 1px 1px;
    letter-spacing: 1px;
}

header section div h2.hobby {
    font-size: 30px;
    font-weight: bold;
}

#nombre-completo {
    display: none;
}

#apodo {
    display: inline-block;
}

@media only screen and (max-width: 579px) {
    header section div h1.nombre,
    #nombre-completo,
    #apodo {
        font-size: 35px;
    }
    header section div h2.hobby {
        font-size: 25px;
    }
    header section div img {
        height: 300px;
    }
    header {
        height: 550px;
    }
    header section.presentacion {
        height: 450px;
    }
}

@media only screen and (max-width: 459px) {
    header section div h1.nombre,
    #nombre-completo,
    #apodo {
        font-size: 30px;
    }
    header section div h2.hobby {
        font-size: 20px;
    }
    header {
        height: 520px;
    }
}

@media only screen and (max-width: 389px) {
    header section div h1.nombre,
    #nombre-completo,
    #apodo {
        font-size: 25px;
    }
    header section div h2.hobby {
        font-size: 18px;
    }
    header {
        height: 500px;
    }
}

@media only screen and (max-width: 339px) {
    header section div h1.nombre,
    #nombre-completo,
    #apodo {
        font-size: 22px;
    }
    header section div h2.hobby {
        font-size: 17px;
    }
}


/*CONTENIDO DE LA PAGINA*/

a.ancla {
    position: relative;
    top: -50px;
}

main section div.titulo {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: rgb(37, 37, 37) 1px 1px 1px;
}

.titulo-skills {
    text-align: left;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: rgb(37, 37, 37) 1px 1px 1px;
    margin-bottom: 0;
}

div.azul {
    height: 2px;
    width: 100%;
    border: 0;
    background-image: -moz-linear-gradient(left, #1a1a1a, #3B93F7, #1a1a1a);
    background-image: -webkit-linear-gradient(left, #1a1a1a, #3B93F7, #1a1a1a);
    background-image: linear-gradient(to right, #1a1a1a, #3B93F7, #1a1a1a);
}

div.blanco {
    height: 2px;
    width: 100%;
    border: 0;
    background-image: -moz-linear-gradient(left, #3B93F7, #ffffff, #3B93F7);
    background-image: -webkit-linear-gradient(left, #3B93F7, #ffffff, #3B93F7);
    background-image: linear-gradient(to right, #3B93F7, #ffffff, #3B93F7);
}

.azul-fondo {
    background-color: #3B93F7;
}

.azul-fondo-plus {
    background-color: #5ea9ff;
}

.negro-fondo {
    background-color: #2a2a2a;
}

.negro-fondo-plus {
    background-color: #1a1a1a;
}

.titulo-gradiente-negro {
    background-color: #2e2e2e;
    background: -moz-linear-gradient(top, #2e2e2e 0%, #2e2e2e 50%, #1a1a1a 100%);
    background: -webkit-linear-gradient(top, #2e2e2e 0%, #2e2e2e 50%, #1a1a1a 100%);
    background: linear-gradient(to bottom, #2e2e2e 0%, #2e2e2e 50%, #1a1a1a 100%);
}

.titulo-gradiente-azul {
    background-color: #5ea9ff;
    background: -moz-linear-gradient(top, #5ea9ff 0%, #5ea9ff 50%, #3B93F7 100%);
    background: -webkit-linear-gradient(top, #5ea9ff 0%, #5ea9ff 50%, #3B93F7 100%);
    background: linear-gradient(to bottom, #5ea9ff 0%, #5ea9ff 50%, #3B93F7 100%);
}

/*PORTAFOLIO*/
main section div.contenedor-portafolio {
    background-color: #1a1a1a;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}

main section div.contenedor-portafolio::after {
    content: '';
    display: block;
    clear: both;
}

main section div div.proyectos {
    width: 1000px;
    margin: 0 auto;
}

main section div.proyectos ul {
    list-style: none;
}

main section div.proyectos ul li {
    width: 100%;
    height: auto;
    background-color: #3b93f7e7;
    text-align: center;
    margin: 20px 75px;
    float: left;
    border-radius: 20px;
    border: solid #5ea9ff 3px;
    overflow: hidden;
}

@media only screen and (max-width: 280px) {
    main section div div.proyectos {
        width: 280px;
    }
    main section div.proyectos ul li {
        width: 280px;
        margin: 20px 0px;
    }
    main section div.proyectos ul li h2 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 280px) {
    main section div div.proyectos {
        width: 280px;
    }
    main section div.proyectos ul li {
        margin: 20px 0px;
    }
    main section div.proyectos ul li h2 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 380px) {
    main section div div.proyectos {
        width: 340px;
    }
    main section div.proyectos ul li h2 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 500px) {
    main section div div.proyectos {
        width: 360px;
    }
    main section div.proyectos ul li h2 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 820px) {
    main section div div.proyectos {
        width: 800px;
    }
    main section div.proyectos ul li {
        width: 360px;
        margin: 20px 20px;
    }
}

@media only screen and (min-width: 920px) {
    main section div div.proyectos {
        width: 900px;
    }
    main section div.proyectos ul li {
        margin: 20px 45px;
    }
}

main section div.proyectos ul li:last-child {
    margin-bottom: 50px;
}

main section div.proyectos ul li:nth-child(2n+1) {
    content: '';
    display: block;
    clear: both;
}

main section div.proyectos ul li h2 {
    color: #ffffff;
    text-shadow: black 1px 1px 1px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

main section div.proyectos ul li div.contenedor-imagen {
    margin: 0 auto;
    overflow: hidden;
    height: 150px;
}

main section div.proyectos ul li img {
    width: 100%;
    height: 100%;
}

main section div.proyectos ul li img:hover {
    transition: 5s ease;
    transform: scale(2);
}

main section div.proyectos ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    text-shadow: black 1px 1px 1px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

main section div.proyectos ul li:hover {
    background-color: #5ea9ff;
}

div.contenedor-boton-ver-mas {
    width: 100%;
    text-align: center;
}

#boton-ver-mas {
    padding: 10px 35px;
    font-size: 20px;
    background-color: #3B93F7;
    border: solid 2px rgb(255, 255, 255);
    color: white;
    border-radius: 10px;
    text-shadow: black 1px 1px 1px;
    font-family: 'Roboto', sans-serif;
    display: none;
}

#boton-ver-mas:hover {
    background-color: #2a2a2a;
}

@media only screen and (max-width: 500px) {
    #boton-ver-mas {
        margin-top: 20px;
    }
}


/*VENTANA EMERGENTE PARA LOS PROYECTOS DEL PORTAFOLIO*/

.no-scroll {
    overflow-y: hidden;
}

.scroll {
    overflow-y: visible;
}

div.overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 105;
    transition: .5s ease-out all;
}

.visible {
    opacity: 1 !important;
    pointer-events: auto !important;
}

div.popup {
    background-color: #2e2e2e;
    width: 98%;
    max-height: 98%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    text-align: center;
    position: relative;
}

@media only screen and (min-width: 500px) {
    div.popup {
        padding: 20px;
    }
}

div.popup h2 {
    color: #3B93F7;
    text-shadow: black 1px 1px 1px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

div.popup div.popup-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

div.popup div img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: #2a2a2a solid 3px;
}

div.popup p {
    text-align: justify;
    margin: 20px 0px;
    padding: 15px;
    max-height: 250px;
    overflow: auto;
    background-color: #1a1a1a;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    font-family: 'PT Sans Narrow', sans-serif;
}

div.popup p b {
    color: #3B93F7;
}

div.popup p a {
    color: gold;
    text-decoration: none;
}

div.popup a.cerrar-popup {
    font-size: 20px;
    color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    margin-left: 7px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}


/*HABILIDADES*/
main section div.habilidades {
    background-color: #3B93F7;
    padding: 50px 0px;
    margin: 0 auto;
}

main section div.habilidades ul {
    list-style: none;
    margin: 0 auto;
}

@media only screen and (min-width: 200px){
    main section div.habilidades ul {
        max-width: 200px;
        margin: 0 auto;
    }
    main section div.habilidades li.skill {
        margin: 25px 22px;
    }
}

@media only screen and (min-width: 350px) {
    main section div.habilidades ul {
        max-width: 250px;
    }
    main section div.habilidades li.skill {
        margin: 25px 47px;
    }
}

@media only screen and (min-width: 590px) {
    main section div.habilidades ul {
        max-width: 500px;
    }
}

@media only screen and (min-width: 840px) {
    main section div.habilidades ul {
        max-width: 750px;
    }
}

@media only screen and (min-width: 1100px) {
    main section div.habilidades ul {
        max-width: 1000px;
    }
}

main section div.habilidades ul li {
    text-align: center;
    background-color: #2e2e2e;
    max-width: 250px;
    height: 170px;
    padding: 10px;
    border-radius: 20px;
    border: solid white 3px;
    float: left;
}


main section div.habilidades::after {
    content: '';
    display: block;
    clear: both;
}

main section div.habilidades ul li img {
    width: 130px;
    height: 120px;
}

main section div.habilidades ul li p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*INFORMACION*/
main section div.informacion {
    background-color: #1a1a1a;
}

main section div div.contenedor-texto-informacion {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    min-height: 300px;
    height: auto;
}

main section div div.contenedor-texto-informacion p,
.frase {
    color: white;
    text-align: justify;
    font-size: 17px;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 1px;
}

main section div div.contenedor-texto-informacion p b,
.frase b {
    color: #5ea9ff;
}

@media only screen and (max-width: 499px) {
    main section div div.contenedor-texto-informacion {
        padding: 50px 25px;
    }
    main section div div.contenedor-texto-informacion p,
    .frase {
        font-size: 16px;
    }
}


/*CONTACTO*/
main section div.contacto {
    background-color: #3B93F7;
    padding: 50px 0px;
    margin: 0 auto;
}

main section div.contacto ul {
    list-style: none;
    margin: 0 auto;
}

@media only screen and (max-width: 279px) {
    main section div.contacto ul {
        max-width: 210px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 280px) {
    main section div.contacto ul {
        max-width: 210px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 460px) {
    main section div.contacto ul {
        max-width: 420px;
    }
}

@media only screen and (min-width: 1030px) {
    main section div.contacto ul {
        max-width: 840px;
    }
}

main section div.contacto ul a li {
    text-align: center;
    background-color: #2e2e2e;
    width: 170px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: solid white 3px;
    float: left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

main section div.contacto ul a li:hover {
    color: #5ea9ff;
}

main section div.contacto ul a li i.icono {
    font-size: 80px;
}

main section div.contacto::after {
    content: '';
    display: block;
    clear: both;
}


/*PIE DE LA PAGINA*/

footer {
    background-color: #1a1a1a;
}

footer p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 1px;
}

footer a {
    color: #3B93F7;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: gold;
}


/*LIMPIADOR*/

div.clearfix {
    display: block;
    content: '';
    clear: both;
}