.badge-container {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: black 0px 0px 5px;
    border: rgba(0, 0, 0, 0.3) 5px solid;
}
.badge-container:hover {
    border: rgba(0, 0, 0, 0.5) 5px solid;
    cursor: pointer;
}
.badge-body {
    background: #1a1a1a;  
    background: -webkit-linear-gradient(to left, #3B93F7, #1a1a1a, #1a1a1a, #3B93F7); 
    background: linear-gradient(to left, #3B93F7, #1a1a1a, #1a1a1a, #3B93F7); 
    height: 50%;
    width: 100%;
    text-shadow: rgb(0, 0, 0) 0px 1px 0px;
    color: #ffffff;
}
.badge-footer {
    background: #3B93F7;  
    background: -webkit-linear-gradient(to right, #1a1a1a, #3B93F7, #1a1a1a); 
    background: linear-gradient(to right, #1a1a1a, #3B93F7, #1a1a1a); 
    height: 50%;
    width: 100%;
}
.badge-footer .icon {
    color: white;
    font-size: 50px;
    text-shadow: #3B93F7 0px 0px 5px;
}
.badge-division {
    background: rgba(0, 0, 0, 0.65);
    height: 2px;
}