/*CONTACTO*/
main section div.contacto {
    background-color: #3B93F7;
    padding: 50px 0px;
    margin: 0 auto;
}

main section div.contacto ul {
    list-style: none;
    margin: 0 auto;
}

@media only screen and (max-width: 279px) {
    main section div.contacto ul {
        max-width: 210px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 280px) {
    main section div.contacto ul {
        max-width: 210px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 460px) {
    main section div.contacto ul {
        max-width: 420px;
    }
}

@media only screen and (min-width: 1030px) {
    main section div.contacto ul {
        max-width: 840px;
    }
}

main section div.contacto ul li a,
main section div.contacto ul li button{
    text-align: center;
    background-color: #1a1a1a;
    width: 170px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: solid #ffffff 3px;
    float: left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #ffffff;
}

main section div.contacto ul li a:hover,
main section div.contacto ul li button:hover {
    text-decoration: none;
    color: #5ea9ff;
    background-color: #2a2a2a;
}

main section div.contacto ul li a .icono,
main section div.contacto ul li button .icono {
    font-size: 80px;
}

main section div.contacto::after {
    content: '';
    display: block;
    clear: both;
}