/*VENTANA EMERGENTE PARA LOS PROYECTOS DEL PORTAFOLIO*/

.no-scroll {
    overflow-y: hidden;
}

.scroll {
    overflow-y: visible;
}

div.overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 105;
    transition: .4s ease-out all;
}

.visible {
    opacity: 1 !important;
    pointer-events: auto !important;
}

div.popup {
    background-color: #2e2e2e;
    max-width: 1100px;
    max-height: 98%;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    text-align: center;
    position: relative;
}

@media only screen and (min-width: 500px) {
    div.popup {
        padding: 20px;
    }
}

div.popup h4, div.popup h3.cantidad-fotos-popup  {
    color: #ffffff;
    text-shadow: black 1px 1px 1px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

div.popup h3.cantidad-fotos-popup {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 13px;
}

div.popup div.popup-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

div.popup div img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: #2a2a2a solid 3px;
}

div.popup p {
    text-align: justify;
    margin: 10px 0px;
    padding: 15px;
    max-height: 250px;
    overflow: auto;
    background-color: #1a1a1a;
    border-radius: 10px;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: 'PT Sans Narrow', sans-serif;
}

div.popup p b {
    color: #3B93F7;
}

div.popup p button {
    color: gold;
}

div.popup button.cerrar-popup {
    font-size: 20px;
    color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0px;
    margin-right: 7px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}