@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital@1&family=Open+Sans:ital,wght@1,300&family=PT+Sans+Narrow&family=Roboto:wght@100&display=swap');
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #5ea9ff;
    border-radius: 25px;
}


/*CONTENIDO DE LA PAGINA*/

a.ancla {
    position: relative;
    top: -50px;
}

main section div.titulo {
    width: 100%;
    height: 50px;
    text-align: center;
}

main section div.titulo h2 {
    line-height: 50px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: rgb(37, 37, 37) 1px 1px 1px;
    margin-bottom: 0px;
}

.titulo-skills {
    text-align: left;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: rgb(37, 37, 37) 1px 1px 1px;
    margin-bottom: 0;
}

div.azul {
    height: 2px;
    width: 100%;
    border: 0;
    background-image: -moz-linear-gradient(left, #1a1a1a, #3B93F7, #1a1a1a);
    background-image: -webkit-linear-gradient(left, #1a1a1a, #3B93F7, #1a1a1a);
    background-image: linear-gradient(to right, #1a1a1a, #3B93F7, #1a1a1a);
}

div.blanco {
    height: 2px;
    width: 100%;
    border: 0;
    background-image: -moz-linear-gradient(left, #3B93F7, #ffffff, #3B93F7);
    background-image: -webkit-linear-gradient(left, #3B93F7, #ffffff, #3B93F7);
    background-image: linear-gradient(to right, #3B93F7, #ffffff, #3B93F7);
}

.azul-fondo {
    background-color: #3B93F7;
}

.azul-fondo-plus {
    background-color: #5ea9ff;
}

.negro-fondo {
    background-color: #2a2a2a;
}

.negro-fondo-plus {
    background-color: #1a1a1a;
}

.titulo-gradiente-negro {
    background-color: #2e2e2e;
    background: -moz-linear-gradient(top, #2e2e2e 0%, #2e2e2e 50%, #1a1a1a 100%);
    background: -webkit-linear-gradient(top, #2e2e2e 0%, #2e2e2e 50%, #1a1a1a 100%);
    background: linear-gradient(to bottom, #2e2e2e 0%, #2e2e2e 50%, #1a1a1a 100%);
}

.titulo-gradiente-azul {
    background-color: #5ea9ff;
    background: -moz-linear-gradient(top, #5ea9ff 0%, #5ea9ff 50%, #3B93F7 100%);
    background: -webkit-linear-gradient(top, #5ea9ff 0%, #5ea9ff 50%, #3B93F7 100%);
    background: linear-gradient(to bottom, #5ea9ff 0%, #5ea9ff 50%, #3B93F7 100%);
}

/*PORTAFOLIO*/
main section div.contenedor-portafolio {
    background-color: #1a1a1a;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}

main section div.contenedor-portafolio::after {
    content: '';
    display: block;
    clear: both;
}

main section div.proyectos ul {
    list-style: none;
}

main section div.proyectos ul li {
    width: 100%;
    height: auto;
    background-color: #3b93f7e7;
    text-align: center;
    margin: 20px 75px;
    float: left;
    border-radius: 3px;
    border: solid 2px #2a2a2a;
    overflow: hidden;
    animation-name: tarjetas;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes tarjetas {
    0% {
        background-color: #3B93F7;
    }
    50% {
        background-color: #5ea9ff;
    }
    100% {
        background-color: #3B93F7;
    }
}

@media only screen and (min-width: 100px) {
    main section div div.proyectos {
        width: 100%;
    }
    main section div.proyectos ul li {
        width: 100%;
        margin: 20px 0px;
    }
    main section div.proyectos ul li h2 {
        font-size: 20px;
    }
    main section div.proyectos ul li div.contenedor-imagen {
        margin: 0 auto;
        overflow: hidden;
        height: auto;
    }
}

@media only screen and (min-width: 280px) {
    main section div div.proyectos {
        width: 260px;
        margin: 0 auto;
    }
    main section div.proyectos ul li {
        margin: 20px 0px;

    }
    main section div.proyectos ul li h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 380px) {
    main section div div.proyectos {
        width: 340px;
    }
    main section div.proyectos ul li h2 {
        font-size: 22px;
    }
    main section div.proyectos ul li {
        width: 340px;
    }
}

@media only screen and (min-width: 450px) {
    main section div div.proyectos {
        width: 400px;
    }
    main section div.proyectos ul li h2 {
        font-size: 25px;
    }
    main section div.proyectos ul li {
        width: 400px;
    }
}

@media only screen and (min-width: 920px) {
    main section div div.proyectos {
        width: 900px;
    }
    main section div.proyectos ul li {
        margin: 20px 25px;
    }
    main section div.proyectos ul li div.contenedor-imagen {
        height: 170px;
    }
}

@media only screen and (min-width: 1020px) {
    main section div div.proyectos {
        width: 1000px;
    }
    main section div.proyectos ul li {
        margin: 20px 50px;
    }
}

main section div.proyectos ul li:last-child {
    margin-bottom: 50px;
}

main section div.proyectos ul li:nth-child(2n+1) {
    content: '';
    display: block;
    clear: both;
}

main section div.proyectos ul li h2 {
    color: #ffffff;
    text-shadow: black 1px 1px 1px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px 3px;
    font-style: italic;
    letter-spacing: 0.5px;
}

main section div.proyectos ul li img {
    width: 100%;
    height: 100%;
}

main section div.proyectos ul li img:hover {
    transition: 5s ease;
    transform: scale(1.5);
    cursor: zoom-in;
}

main section div.proyectos ul li button {
    color: #ffffff;
    font-size: 14px;
    text-shadow: #000000 1px 1px 1px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #1a1a1a;
}

main section div.proyectos ul li button:hover {
    color: #ffffff;
    background-color: #2a2a2a;
}

div.contenedor-boton-ver-mas {
    width: 100%;
    text-align: center;
}

#boton-ver-mas {
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #3B93F7;
    border: unset;
    color: #ffffff;
    border-radius: 5px;
    text-shadow: black 1px 1px 1px;
    font-family: 'Roboto', sans-serif;
    display: none;
}

#boton-ver-mas:hover {
    background-color: #5ea9ff;
}

@media only screen and (max-width: 500px) {
    #boton-ver-mas {
        margin-top: 20px;
    }
}


/*VENTANA EMERGENTE PARA LOS PROYECTOS DEL PORTAFOLIO*/

.no-scroll {
    overflow-y: hidden;
}

.scroll {
    overflow-y: visible;
}

div.overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 105;
    transition: .4s ease-out all;
}

.visible {
    opacity: 1 !important;
    pointer-events: auto !important;
}

div.popup {
    background-color: #2e2e2e;
    max-width: 1100px;
    max-height: 98%;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    text-align: center;
    position: relative;
}

@media only screen and (min-width: 500px) {
    div.popup {
        padding: 20px;
    }
}

div.popup h4, div.popup h3.cantidad-fotos-popup  {
    color: #ffffff;
    text-shadow: black 1px 1px 1px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

div.popup h3.cantidad-fotos-popup {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 13px;
}

div.popup div.popup-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

div.popup div img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: #2a2a2a solid 3px;
}

div.popup p {
    text-align: justify;
    margin: 10px 0px;
    padding: 15px;
    max-height: 250px;
    overflow: auto;
    background-color: #1a1a1a;
    border-radius: 10px;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: 'PT Sans Narrow', sans-serif;
}

div.popup p b {
    color: #3B93F7;
}

div.popup p button {
    color: gold;
}

div.popup button.cerrar-popup {
    font-size: 20px;
    color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0px;
    margin-right: 7px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}


/*HABILIDADES*/
main section div.habilidades {
    background-color: #3B93F7;
    padding: 50px 0px;
    margin: 0 auto;
}

main section div.habilidades ul {
    list-style: none;
    margin: 0 auto;
}

@media only screen and (min-width: 200px){
    main section div.habilidades ul {
        max-width: 200px;
        margin: 0 auto;
    }
    main section div.habilidades li.skill {
        margin: 25px 22px;
    }
}

@media only screen and (min-width: 350px) {
    main section div.habilidades ul {
        max-width: 250px;
    }
    main section div.habilidades li.skill {
        margin: 25px 47px;
    }
}

@media only screen and (min-width: 590px) {
    main section div.habilidades ul {
        max-width: 500px;
    }
}

@media only screen and (min-width: 840px) {
    main section div.habilidades ul {
        max-width: 750px;
    }
}

@media only screen and (min-width: 1100px) {
    main section div.habilidades ul {
        max-width: 1000px;
    }
}

main section div.habilidades ul li {
    text-align: center;
    background-color: #2e2e2e;
    max-width: 250px;
    height: 170px;
    padding: 10px;
    border-radius: 20px;
    border: solid #ffffff 3px;
    float: left;
}

main section div.habilidades::after {
    content: '';
    display: block;
    clear: both;
}

main section div.habilidades ul li img {
    width: 130px;
    height: 120px;
}

main section div.habilidades ul li p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

/*INFORMACION*/
main section div.informacion {
    background-color: #1a1a1a;
}

main section div div.contenedor-texto-informacion {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    min-height: 300px;
    height: auto;
}

main section div div.contenedor-texto-informacion p,
ul.metas li,
.frase {
    color: #ffffff;
    text-align: justify;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 1px;
}

ul.metas li {
    margin-left: 18px;
    color: #5ea9ff;
}

main section div div.contenedor-texto-informacion p b,
.frase b {
    color: #5ea9ff;
}

@media only screen and (max-width: 499px) {
    main section div div.contenedor-texto-informacion {
        padding: 50px 25px;
    }
    main section div div.contenedor-texto-informacion p,
    .frase {
        font-size: 16px;
    }
}


/*CONTACTO*/
main section div.contacto {
    background-color: #3B93F7;
    padding: 50px 0px;
    margin: 0 auto;
}

main section div.contacto ul {
    list-style: none;
    margin: 0 auto;
}

@media only screen and (max-width: 279px) {
    main section div.contacto ul {
        max-width: 210px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 280px) {
    main section div.contacto ul {
        max-width: 210px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 460px) {
    main section div.contacto ul {
        max-width: 420px;
    }
}

@media only screen and (min-width: 1030px) {
    main section div.contacto ul {
        max-width: 840px;
    }
}

main section div.contacto ul li a,
main section div.contacto ul li button{
    text-align: center;
    background-color: #1a1a1a;
    width: 170px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: solid #ffffff 3px;
    float: left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #ffffff;
}

main section div.contacto ul li a:hover,
main section div.contacto ul li button:hover {
    text-decoration: none;
    color: #5ea9ff;
    background-color: #2a2a2a;
}

main section div.contacto ul li a .icono,
main section div.contacto ul li button .icono {
    font-size: 80px;
}

main section div.contacto::after {
    content: '';
    display: block;
    clear: both;
}


/*PIE DE LA PAGINA*/

footer {
    background-color: #1a1a1a;
}

footer p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 1px;
}

footer a {
    color: #3B93F7;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: gold;
}